@using Rabbit.IOnline.Models.ViewModels
@model SiteCreditsViewModel

<div>
    <a href="@Url.Action("List", "Message")" class="label label-primary margin-10">All messages
        <span class="badge">@Model.MessageCount</span>
    </a>

    @foreach (var category in Model.Categories)
    {
        <a href="@Url.Action("List", "Message", new { catid = category.Category.Key })" class="label label-info margin-10">
            @category.Category.Value
            <span class="badge">@category.MessageCount</span>
        </a>
    }
</div>
