@using Rabbit.IOnline.Models.ViewModels
@model SiteCreditsViewModel

<div>
    <button class="btn btn-primary" type="button">
        Total messages <span class="badge">@Model.MessageCount</span>
    </button>
</div>

@foreach (var category in Model.Categories)
{
    <div class="margin-t-20">
        <a href="@Url.Action("List", "Message", new { catid = category.Category.Key })" class="btn btn-default">
            @category.Category.Value
            <span class="badge">@category.MessageCount</span>
        </a>
    </div>   
}

<div class="margin-t-20">
    <a href="@Url.Action("List", "Message")">
        <span class="glyphicon glyphicon-menu-right"></span>
        List all messages
    </a>
</div>
