@using PagedList.Mvc
@using Rabbit.IOnline.Models.ViewModels

@model ListViewModel

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Message</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = Model.StartingIndex;
        }
        @foreach (var message in Model.Messages)
        {
            index += 1;
                
            <tr>
                <td>
                    <a href="@Url.Action("Detail", "Message", new { message.Id })">@index</a>
                </td>
                <td>
                    @if (message.CategorySelected != null)
                    {
                        @Html.Raw(message.CategorySelected.Value)
                    }
                </td>
                <td>@message.Body</td>
                <td>@message.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PagerEnabled.HasValue && Model.PagerEnabled.Value)
{
    @Html.PagedListPager(Model.Messages,
                         page => Url.Action("List", "Message", new { p = page, catid = Model.CategoryId }),
                         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                             {
                                 HttpMethod = "GET",
                                 UpdateTargetId = "grid-list",
                             }))
}
